################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/L2Test/L2Test/Content/Images/Japan2012.Hakone.P1030279g7sod3bSRW.JPG
