################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/L2Test/L2Test/Content/Images/Japan2012.Hakone.P1030279g7sod3bSRW.JPG
/L2Test/L2Test/Content/Images/Japan2012.Hakone.P1030272G83BQjBnZA.JPG
/L2Test/L2Test/Content/Images/FB_IMG_1484186963751uGIV49dWnO.jpg
/Docs
/L2Test/.vs/config/applicationhost.config
/L2Test/.vs/L2Test/v14/.suo
/L2Test/packages/Antlr.3.4.1.9004/lib
/L2Test/packages/bootstrap.3.0.0
/L2Test/packages
/L2Test/L2Test.sln
/L2TestPreDBUpdatezip.zip
