@{
    ViewBag.Title = "Edit Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
    L2Test.Models.TestModels ListHelp = new L2Test.Models.TestModels();
}
<!--
 _____           _           _     _         _      _____   _____         _
|  __ \         | |         | |   | |       | |    / __  \ |_   _|       | |
| |  \/ ___   __| | __ _  __| | __| |_   _  | |    `' / /'   | | ___  ___| |_
| | __ / _ \ / _` |/ _` |/ _` |/ _` | | | | | |      / /     | |/ _ \/ __| __|
| |_\ \ (_) | (_| | (_| | (_| | (_| | |_| | | |____./ /___   | |  __/\__ \ |_
 \____/\___/ \__,_|\__,_|\__,_|\__,_|\__, | \_____/\_____/   \_/\___||___/\__|
                                      __/ |
                                     |___/
-->
<h1 style="color:orangered;">@ViewBag.Err</h1>


<!--Modal Buttons-->
<div class="container-fluid">
    <section class="row">
        <center>
            <div class="col-md-4">
                <div class="wrapper">
                    <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#addModal">Add New Question</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrapper">
                    <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#exportModal">Export CSV File</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrapper">
                    <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#importModal">Import CSV File</button>
                </div>
            </div>
        </center>
    </section>
</div>
<!--************************Export CSV*****************************-->
<div class="modal fade" id="exportModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="editbtn" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Export CSV</h2>
            </div>
            <div class="modal-body">
                <!-- Submit Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submitButton"></label>
                    <div class="col-md-12">
                        @Html.ActionLink("Download CSV", "DownloadCSV", "Home", null, new { @class = "btn btn-info" })
                        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>  <!--Modal Body-->
        </div> <!--Modal Content-->
    </div> <!--Modal Dialog-->
</div><!--Modal-->
<!--************************Import CSV*****************************-->
<div class="modal fade" id="importModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="editbtn" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Upload CSV File</h2>
            </div>
            <div class="modal-body">
                <form action="/Home/UploadCSV" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <br />
                        <input type="file" name="FileUpload" id="file" />
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="CSVAppend">Import Option</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label for="CSVAppend-0">
                                    <input type="radio" name="CSVAppend" id="CSVAppend-0" value="1" checked="checked">
                                    Append to Test
                                </label>
                            </div>
                            <div class="radio">
                                <label for="CSVAppend-1">
                                    <input type="radio" name="CSVAppend" id="CSVAppend-1" value="2">
                                    Replace Test
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-info"/>
                            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                           <!--<p class="help-block">See about page for help formatting the CSV.</p>  Add this again when the CSV is human readable-->
                        </div>
                    </div>
                </form>
             </div>  <!--Modal Body-->
        </div> <!--Modal Content-->
    </div> <!--Modal Dialog-->
</div><!--Modal-->
<!--************************Add Question***************************-->
<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="editbtn" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Add New Question</h2>
            </div>
            <div class="modal-body">

                <!--FORM STARTS HERE-->
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <fieldset>

                        <!-- Get Question -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formQuestion">Question: </label>
                            <div class="col-md-6">
                                <textarea class="form-control" id="formQuestion" name="formQuestion" maxlength="799"></textarea>
                            </div>
                        </div>
                        <!-- Get Answer1 -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formAnswer1">Answer: </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="formAnswer1" name="formAnswer1" class="form-control" type="text" maxlength="255">
                                    <span class="input-group-addon">
                                        <input type="checkbox" name="formC1" value="1">
                                    </span>
                                </div>
                                <p class="help-block">Check correct answers</p>
                            </div>
                        </div>
                        <!-- Get Answer2 -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formAnswer2">Answer: </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="formAnswer2" name="formAnswer2" class="form-control" type="text" maxlength="255">
                                    <span class="input-group-addon">
                                        <input type="checkbox" name="formC2" value="1">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Get Answer3 -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formAnswer3">Answer: </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="formAnswer3" name="formAnswer3" class="form-control" type="text" maxlength="255">
                                    <span class="input-group-addon">
                                        <input type="checkbox" name="formC3" value="1">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Get Answer4 -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formAnswer4">Answer: </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="formAnswer4" name="formAnswer4" class="form-control" type="text" maxlength="255">
                                    <span class="input-group-addon">
                                        <input type="checkbox" name="formC4" value="1">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Get Answer5 -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formAnswer5">Answer: </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="formAnswer5" name="formAnswer5" class="form-control" type="text" maxlength="255">
                                    <span class="input-group-addon">
                                        <input type="checkbox" name="formC5" value="1">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Get Answer6 -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formAnswer6">Answer: </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="formAnswer6" name="formAnswer6" class="form-control" type="text" maxlength="255">
                                    <span class="input-group-addon">
                                        <input type="checkbox" name="formC6" value="1">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Get Answer7 -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formAnswer7">Answer: </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="formAnswer7" name="formAnswer7" class="form-control" type="text" maxlength="255">
                                    <span class="input-group-addon">
                                        <input type="checkbox" name="formC7" value="1">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Get Answer8 -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formAnswer8">Answer: </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="formAnswer8" name="formAnswer8" class="form-control" type="text" maxlength="255">
                                    <span class="input-group-addon">
                                        <input type="checkbox" name="formC8" value="1">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Get Category -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="formCategory">Select Category</label>
                            <div class="col-md-4">
                                <select id="formCategory" name="formCategory" class="form-control">
                                    <option value="1">New Catagoy</option>
                                    @Html.Raw(ListHelp.CategoryList())
                                </select>
                            </div>
                        </div>
                        <!-- New Category-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="newCategory">New Category</label>
                            <div class="col-md-4">
                                <input id="newCategory" name="newCategory" type="text" placeholder="" class="form-control input-md">
                            </div>

                        </div>
                        <!-- Submit Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="submitButton"></label>
                            <div class="col-md-8">
                                <button id="submitButton" name="submitButton" class="btn btn-info">Add Question</button>
                                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    </fieldset>
                </form> <!--FORM ENDS HERE-->
            </div>  <!--Modal Body-->

        </div> <!--Modal Content-->
    </div> <!--Modal Dialog-->
</div>

<!--************************List Questions*****************************-->
</br>
<ul class="Test" style="list-style-type:none">
    @Html.Raw(ListHelp.EditListString())
</ul>
