@{
    ViewBag.Title = "L2 Test";
}
<!--
 _____           _           _     _         _      _____   _____         _
|  __ \         | |         | |   | |       | |    / __  \ |_   _|       | |
| |  \/ ___   __| | __ _  __| | __| |_   _  | |    `' / /'   | | ___  ___| |_
| | __ / _ \ / _` |/ _` |/ _` |/ _` | | | | | |      / /     | |/ _ \/ __| __|
| |_\ \ (_) | (_| | (_| | (_| | (_| | |_| | | |____./ /___   | |  __/\__ \ |_
 \____/\___/ \__,_|\__,_|\__,_|\__,_|\__, | \_____/\_____/   \_/\___||___/\__|
                                      __/ |
                                     |___/
-->
<article id="TestRequirements">
    <br />
    <b>Requirements to become an L2:</b>
    <ul>
        <li>Must have been a member of the Data Center Operations team for at least 9 months.</li>
        <li>No corrective actions or PIP's on file for the last 6 months.</li>
        <li>Received a minimum rating of 'Consistent Performer' on most recent annual review.</li>
        <li>Must have worked in all datacenters within your region for at least one month.</li>
        <li>
            Must have one of the following:
            <ul>
                <li>Bachelor's Degree (or 4 years of Data Center Experience)</li>
                <li>Associates + two of the following certifications: A+, Network+, Server+, Linux+, Microsoft, or Cisco Certifications.</li>
                <li>2 years of Data Center Experience + two of the following certifications: A+, Network+, Server+, Linux+, Microsoft, or Cisco Certifications.</li>
                <li>Four of the following certifications: A+, Network+, Server+, Linux+, Microsoft, or Cisco Certifications.</li>
            </ul>
        </li>
        <li>Must be sponsored by a DC Supervisor/Manager/Lead.</li>
        <li>Must pass the L2 Certification test (this test as well as the hands on test.)</li>
    </ul>
    <br/>
</article>
<article id="TestInstructions">
    You can apply to take the test once every quarter if you meet the qualification listed above. To take the test enter the 10 character passcode provided by the test proctor then hit the "Take L2 Test" button.
</article>
<br />
<br />
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="formTechID">Enter Your Test ID</label>
            <div class="col-md-4">
                <input id="formTechID" name="formTechID" type="text" placeholder="" class="form-control input-md" required="">
                <span class="help-block" style="color:red;font-weight:700">@ViewBag.Error</span>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submitButton"></label>
            <div class="col-md-4">
                <button id="submitButton" name="submitButton" class="btn btn-success">Take L2 Test</button>
            </div>
        </div>

    </fieldset>
</form>
<footer>More information about the L2 test can be found <a href="https://confluence.int.godaddy.com/pages/viewpage.action?title=Level+2+Advancement&spaceKey=DCS">here.</a></footer>