@{
    ViewBag.Title = "L2 Test";
}
Some text about the l2 test or whatever
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="formTechID">Enter Your Test ID</label>
            <div class="col-md-4">
                <input id="formTechID" name="formTechID" type="text" placeholder="" class="form-control input-md" required="">
                <span class="help-block" style="color:red;font-weight:700">@ViewBag.Error</span>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submitButton"></label>
            <div class="col-md-4">
                <button id="submitButton" name="submitButton" class="btn btn-success">Take L2 Test</button>
            </div>
        </div>

    </fieldset>
</form>
