@{
    ViewBag.Title = "L2 Test";
}

<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Take Test</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="formTechID">Enter Your Test ID</label>
            <div class="col-md-4">
                <input id="formTechID" name="formTechID" type="text" placeholder="" class="form-control input-md" required="">
                <span class="help-block">A lead will give you an ID when you can take the test.</span>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submitButton"></label>
            <div class="col-md-4">
                <button id="submitButton" name="submitButton" class="btn btn-success">Take L2 Test</button>
            </div>
        </div>

    </fieldset>
</form>
